/* ===== GLOBAL STYLE ===== */
body {
    margin: 0;
    padding: 0;
    background: url("../img/background2.jpg") center/cover no-repeat fixed;
    font-family: "Poppins", Arial, sans-serif;
    color: #a40707;
}

.bg-nav {
    background-color: #bb2c2c;
  }
  
  .mt--2 {
    margin-top: -0.5rem !important;
  }
  
  .hr-dotted {
    border-top: 1px dotted;
    opacity: .25;
  }
.navbar-light .navbar-nav .nav-link {
    color: #212529 !important;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd !important;
  }

/* ===== HEADER ===== */
header {
    text-align: center;
    font-size: 34px;
    font-weight: 800;
    margin-top: 50px;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}
.header-container {
    width: 100%;
    text-align: center;
}
.subtext {
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px; /* JARAK SLIDER */
    opacity: 0.9;
    color: #080000;
}


/* ===== SLIDER ===== */
.slider {
    width: 68%;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
}

.slides {
    width: 300%;
    height: 100%;
    display: flex;
    animation: slide 12s infinite ease-in-out;
}

.slides img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%   { transform: translateX(0); }
    30%  { transform: translateX(0); }
    40%  { transform: translateX(-100%); }
    70%  { transform: translateX(-100%); }
    80%  { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}

/* ===== PROMO SECTION (Foto 3 sejajar) ===== */
.promo-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    padding: 20px;
    flex-wrap: wrap;
}

/* CARD */
.promo-card {
    width: 330px;
    text-align: center;
    backdrop-filter: blur(6px);
    padding: 10px;
    border-radius: 12px;
}

/* IMAGE */
.promo-img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

/* TEXT */
.promo-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #f1ecec;
    text-shadow: 1px 2px 5px rgba(0,0,0,0.7);
}

.promo-desc {
    font-size: 13px;
    opacity: 0.85;
    color: #0a0101;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 25px;
    margin-top: 50px;
    font-size: 14px;
    opacity: 0.7;
}
